@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

button{

    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

}

.btn-box{
    margin: 15px;
}

.btn-box .upper-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 13px;
}

.btn-box .lower-part{
    margin-top: 13px;
}